@mixin bg-transparent-windows($percent){
  background: rgba(0,0,0,$percent);
}
@mixin bg-shadow($color){
  -webkit-box-shadow: 1px 0px 10px 0px $color;
  -moz-box-shadow: 1px 0px 10px 0px $color;
  box-shadow: 1px 0px 10px 0px $color;
}
@mixin text-shadow(){
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@mixin border-none(){
  border:0px solid;
}
.panel-transparent{
  @include bg-transparent-windows(0.8);
  @include bg-shadow(rgba(0,0,0,1));
  @include border-none();
}
